div.sidebar{
	height:500px;
    margin-top: -20px;
}
div.sidebar ul li{
	width:120px; 
}
div.sidebar ul li.title{
	list-style-type: none;
	font-size: 16px;
	font-weight: bold;
	padding-top: 10px;
}
div.sidebar ul li.item{
	list-style-type:none;
	padding-left: 10px;
	padding-top:3px;
	padding-bottom: 3px;
}
div.sidebar ul li.item a{
	font-size: 14px;
	text-decoration: none;
}

