<div class="navbar">    <!--去掉了navbar-fixed-top-->
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/"><img src="static/image/header.png"><?=c('site_name')?></a>
			<div class="nav-collapse">
				<ul class="nav">
					<li<?php if( g('a') == 'index' ): ?> class="active"<?php endif; ?>>
					    <a <?php if($_SESSION['uid']): ?>href="?c=admin&a=edit_config"<?php else: ?>href="?a=index"<?php endif;?>>管理首页</a>
					</li>
					<li><a href="https://github.com/xiaosier/ailurus/blob/master/README.md">开发文档</a></li>
				</ul>
				<ul class="nav pull-right login" >
					<?php if($_SESSION['uid']):?>
					<li><a><?php echo $_SESSION['role'];?></a></li>
					<li><a class="active" href="/?a=logout">退出</a></li>
					<?php else:  ?>
					<li><a class="active" id="login-btn" href="/?a=login">登录</a></li>
					<div class="topbar-dropdown hide">
						<form id="form-login" class="form-stacked" method="POST" action="/?a=login">
							<div class="clearfix">
								<label for="email">E-Mail</label>
								<div class="input">
									<input class="large" id="login_email" name="email" size="30" type="text" tabindex="1">
									<span class="help-inline"></span>
								</div>
							</div><!-- /clearfix -->
							<div class="clearfix">
								<label for="password">密码</label>
								<div class="input">
									<input class="large" id="login_password" name="password" size="30" type="password" tabindex="1">
									<input id="hash" type="hidden" value="<?=$_SESSION['login_hash']?>">
									<span class="help-inline"></span>
								</div>
							</div><!-- /clearfix -->
							<div>
								<button type="submit" class="btn btn-primary btnSubmit" tabindex="1">登录</button>
							</div>
						</form>
					</div>
					<?php endif; ?>
				</ul>
				

			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>
